.videoCover{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    video{
        width: 100%;
    }
    .pauseHover{
        position: absolute;
        border:solid 1px $white-text-color;
        bottom: 5%;
        transform: rotate(45deg);
        height: 48px;
        width: 46px;
        .pauseContainer{
            transition: all .2s ease-in-out;
            &:hover{
                background-color: $bg-orange-color;
                position: absolute;
                margin-top: 3px;
                margin-left: 3px;
            }

            i{
                padding: 15px;
                color: $white-text-color;
                transform: rotate(317deg);
            }
        }
    }
}

.homeInfo{
    background-image: url("../imgs/backgrounds/SHbg.jpg");
    background-position: center center;
    .infoBackground-img{
        position: absolute;
        z-index: -1;
    }
    .scrollTo-Padding{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .scrollToContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
            .scrolltoShow{
                background-color: $bg-orange-color;
                height: 46px;
                width: 43px;
                transform: rotate(43deg);
                transition: all .2s ease-in-out;
                    i{
                        transform: rotate(317deg);
                        padding: 12px;
                        color: $white-text-color;
                        font-size: 1.5rem;
                    }
            }
            .scrollto-hoverArrows{
                display: flex;
                justify-content: center;
                color: white;
                font-size: 1.2rem;
            }
    }


    .scrolltoText{
        margin-top: 25px;
        color: $white-text-color;
        text-align: center;
    }
    .Info-Details{
        padding-top: 3em;
    }
    .rightInfo{
        padding-bottom: 100px;
        .rightInfo-content{
            width: 90%;
            border: solid 1px $darkWhite-color;
            padding: .50em;
            color: $white-text-color;
            background-color: rgba(0,0,0,0.5);
                .inner-border {
                    position: relative;
                    padding: 20px;
                    background: none;
                    border: none;
                    color: $white-text-color;
                    box-sizing: content-box;
                    text-align: center;
                    &::before, &::after, .inner-border-content::before, .inner-border-content::after {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                    }
                    &::before {
                        top: 1px;
                        left: 1px;
                        border-top: 1px solid $white-text-color;
                        border-left: 1px solid $white-text-color;
                    }
                    &::after {
                        top: 1px;
                        right: 1px;
                        border-top: 1px solid $white-text-color;
                        border-right: 1px solid $white-text-color;
                    }
                    .inner-border-content{
                        text-align: left;
                        margin: 2% 10% 2% 10%;
                        p{
                            margin: 0!important;
                            line-height: 40px;
                            font-family: SegoeUi;
                            font-size: 1.45rem;
                        }
                        &::before {
                            bottom: 1px;
                            left: 1px;
                            border-bottom: 1px solid $white-text-color;
                            border-left: 1px solid $white-text-color;
                        }
                        &::after {
                            bottom: 1px;
                            right: 1px;
                            border-bottom: 1px solid $white-text-color;
                            border-right: 1px solid $white-text-color;
                        }
                        .orangeWebsite-link{
                            text-align: center;
                            margin-top: 20px;
                            .link-hover{
                                transition: all .2s ease-in-out;
                                &:hover,&:hover i{
                                    transform: scale(1.2);
                                    color: $bg-orange-color;
                                }
                                i{
                                    color: $white-text-color;
                                    width: 5px;
                                    transition: all .2s ease-in-out;
                                }
                                .second-arrow{
                                    opacity: .5;
                                }
                                .third-arrow{
                                    opacity: .2;
                                }
                                a{
                                    text-decoration: none;
                                    color: $bg-orange-color;
                                    padding: 10px;
                                }
                            }
                            
                        }
                    }
                
                }
        }
    }
}

.games-section{
    background-image: url("../imgs/backgrounds/SHbg.jpg");
    background-position: center center;
    padding-top: 100px;
    .ourGamesTitle{
        font-family: SegoeUi;
        color: #fff;
        h2{
            display: flex;
            align-items: center;
            span{
                color: $bg-orange-color;
                padding-right: 10px;
            }
        }
        .title-orangeBox{
            width: 15px;
            height: 15px;
            margin: 20px;
            background-color: $bg-orange-color;
            transform: rotate(45deg);
        }
    }
}
@media (max-width:1701px){
    .inner-border-content{
        p{
            line-height: 30px!important;
            font-size: 1.2rem!important;
        }
    }
}
@media (max-width:1200px){
    .rightInfo-content{
        margin: auto;
        width: 70%!important;
    }
}

@media (max-width:1000px){
    .rightInfo-content{
        width: 90%!important;
        .inner-border-content{
            p{
                line-height: 20px!important;
                font-size: 1.1rem!important;
            }
        }
    }
}

@media (max-width:800px){
    .rightInfo-content{
        .inner-border-content{
            p{
                line-height: 15px!important;
                font-size: .85rem!important;
            }
        }
    }
}






