.videoCover{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    video{
        width: 100%;
    }
    .pauseHover{
        position: absolute;
        border:solid 1px $white-text-color;
        bottom: 5%;
        transform: rotate(45deg);
        height: 48px;
        width: 46px;
        .pauseContainer{
            transition: all .2s ease-in-out;
            &:hover{
                background-color: $bg-orange-color;
                position: absolute;
                margin-top: 3px;
                margin-left: 3px;
            }

            i{
                padding: 15px;
                color: $white-text-color;
                transform: rotate(317deg);
            }
        }
    }
}

.homeInfo{
    background-image: url("../imgs/backgrounds/SHbg.jpg");
    background-position: center center;
    .infoBackground-img{
        position: absolute;
        z-index: -1;
    }
    .scrollTo-Padding{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .scrollToContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
            .scrolltoShow{
                background-color: $bg-orange-color;
                height: 46px;
                width: 43px;
                cursor: pointer;
                transform: rotate(43deg);
                transition: all .2s ease-in-out;
                    i{
                        transform: rotate(317deg);
                        padding: 12px;
                        color: $white-text-color;
                        font-size: 1.5rem;
                    }
            }
            .scrollto-hoverArrows{
                display: flex;
                justify-content: center;
                color: white;
                font-size: 1.2rem;
            }
    }


    .scrolltoText{
        margin-top: 25px;
        color: $white-text-color;
        text-align: center;
    }
    .Info-Details{
        padding-top: 3em;
    }
    .rightInfo{
        padding-bottom: 100px;
        .rightInfo-content{
            width: 90%;
            border: solid 1px $darkWhite-color;
            padding: .50em;
            color: $white-text-color;
            background-color: rgba(0,0,0,0.5);
                .inner-border {
                    position: relative;
                    padding: 20px;
                    background: none;
                    border: none;
                    color: $white-text-color;
                    box-sizing: content-box;
                    text-align: center;
                    &::before, &::after, .inner-border-content::before, .inner-border-content::after {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                    }
                    &::before {
                        top: 1px;
                        left: 1px;
                        border-top: 1px solid $white-text-color;
                        border-left: 1px solid $white-text-color;
                    }
                    &::after {
                        top: 1px;
                        right: 1px;
                        border-top: 1px solid $white-text-color;
                        border-right: 1px solid $white-text-color;
                    }
                    .inner-border-content{
                        text-align: left;
                        margin: 2% 10% 2% 10%;
                        p{
                            margin: 0!important;
                            line-height: 40px;
                            font-family: SegoeUi;
                            font-size: 1.45rem;
                        }
                        &::before {
                            bottom: 1px;
                            left: 1px;
                            border-bottom: 1px solid $white-text-color;
                            border-left: 1px solid $white-text-color;
                        }
                        &::after {
                            bottom: 1px;
                            right: 1px;
                            border-bottom: 1px solid $white-text-color;
                            border-right: 1px solid $white-text-color;
                        }
                        .orangeWebsite-link{
                            text-align: center;
                            margin-top: 20px;
                            .link-hover{
                                transition: all .2s ease-in-out;
                                &:hover,&:hover i{
                                    transform: scale(1.2);
                                    color: $bg-orange-color;
                                }
                                i{
                                    color: $white-text-color;
                                    width: 5px;
                                    transition: all .2s ease-in-out;
                                }
                                .second-arrow{
                                    opacity: .5;
                                }
                                .third-arrow{
                                    opacity: .2;
                                }
                                a{
                                    text-decoration: none;
                                    color: $bg-orange-color;
                                    padding: 10px;
                                }
                            }
                            
                        }
                    }
                
                }
        }
    }
}

.games-section{
    // background-image: url("../imgs/backgrounds/SHbg.jpg");
    background-color: black;
    // background-position: center center;
    padding-top: 100px;
    .slick-slider{
        width: 80%;
        margin: auto;
    }
    .home-gallery-glider{
        img{
            width: 100%;
        }
    }
}

.Howtoplay-Section{
    background-image: url('../imgs/backgrounds/976758.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow-x: hidden;
    .howtoplay-topshapeDiv{
        top: -2px;
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: center;
        .howtoplay-topshape{
            background: black;
            width: 340px;
            height: 40px;
            clip-path: polygon(0 0, 100% 0, 87% 100%, 13% 100%);
        }
    }
    .howto_box{
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
        .howto_box_wrap{
            transform: rotate(45deg);
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            .blackBG{
                background-color: rgba(0,0,0,0.8);
                position: absolute;
                top: 25px;
                left: 25px;
                right: -20px;
                bottom: -26px;
                z-index: -1;
            }
                .howto_box_number_wrap{
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    top: -3%;
                    left: 0%;
                    background-color: $orange-text-color;
                    text-align: center;
                    color: $white-text-color;
                    padding-top: 10px;
                    font-size: 2rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        .howto_box_number{
                            transform: rotate(-45deg);
                        }
                }
            .inner_howto_box_wrap{
                border: solid 1px $orange-text-color;
                padding: 24px;
                width: 420px;
                height: 316px;
                .inner_howto_box_rotate{
                    transform: rotate(-45deg);
                    margin: 35px;
                    img{
                        max-width: 200px;
                    }
                    h6{
                        color: $white-text-color;
                        text-align: center;
                        width: 180px;
                        span{
                            color: $orange-text-color;
                        }
                    }
                }
            }
        }
    }
}
.contact-section{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    .contact-imgContainer{
        img{
            width: 90%;
        }
        p{
            width: 90%;
            font-size: 1.3rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: $white-text-color;
        }
    }
       
    .inputContainer{
        position: relative;
        .contact-errors-text{
            margin-left: 20px;
            position: absolute;
            top: -24px;
            margin-bottom: 0;
            display: none;
        }
        .contact-errors-text-show{
            display: block!important;
            color: $orange-text-color;
            padding-bottom: 20px;
        }
            label{
                position: absolute;
                top:26px;
                left: 45px;
                margin: 10px;
                padding: 0 10px;
                background-color: transparent;
                color: $darkWhite-color;
                font-size: 1.2rem;
                transition: all .2s ease-in-out;
            }
        .activeInput{
            top: -6px;
            left: 60px;
            font-size: 1.2rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $white-text-color;
        }
        .inputs{
            width: 100%;
            padding: 15px;
            margin: 20px;
            margin-bottom: 30px;
            border: none;
            outline: none;
            font-size: 20px;
            font-weight: 800;
            background-color: #171717;
            color: $white-text-color;
            resize: none;
        }
    }
    .formBtn{
        margin: 20px;
        width: 100%;
        display: flex;
        &::before, &::after, button::before, button::after {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
        }
        &::before {
            top: 4%;
            left: 27%;
            border-top: 1px solid $orange-text-color;
            border-left: 1px solid $orange-text-color;
        }
        &::after {
            top: 4%;
            right: 27%;
            border-top: 1px solid $orange-text-color;
            border-right: 1px solid $orange-text-color;
        }
        button{
            width: 50%;
            margin: auto;
            padding: 15px;
            font-size: 1.2rem;
            background-image: repeating-linear-gradient(142deg, #FF6600 22px, rgba(0, 0, 0, 0.1) 26px);
            background-color: transparent;
            border: none;
            outline: none;
            color: $white-text-color;
            &::before {
                bottom: 4%;
                left: 27%;
                border-bottom: 1px solid $orange-text-color;
                border-left: 1px solid $orange-text-color;
            }
            &::after {
                bottom: 4%;
                right: 27%;
                border-bottom: 1px solid $orange-text-color;
                border-right: 1px solid $orange-text-color;
            }
            
        }
    }
}
@media (max-width:1701px){
    .inner-border-content{
        p{
            line-height: 30px!important;
            font-size: 1.2rem!important;
        }
    }
}
@media (max-width:1200px){
    .rightInfo-content{
        margin: auto;
        width: 70%!important;
    }
}

@media (max-width:1000px){
    .rightInfo-content{
        width: 90%!important;
        .inner-border-content{
            p{
                line-height: 20px!important;
                font-size: 1.1rem!important;
            }
        }
    }
    .formBtn{
        &::before {
            left: 28.5%!important;
        }
        &::after {
            right: 28.5%!important;
        }
        button{
            &::before {
                left: 28.5%!important;
            }
            &::after {
                right: 28.5%!important;
            }
            
        }
    }
}

@media (max-width:800px){
    .rightInfo-content{
        .inner-border-content{
            p{
                line-height: 15px!important;
                font-size: .85rem!important;
            }
        }
    }
}






